input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.font10{
  margin-top: 4px !important;
}
.font10 label{
  font-size: 12px !important;
  margin-left: 5px !important;
}
.noShadow{
  box-shadow: none !important;
}

/* select {
  background-color: white;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
} */
.blue-circle-icon {

  background-color: #007bff; 
  color: white; 
  font-size: 8px;
  font-weight: bold; 
  align-items: center; 
  border-radius: 50%; 
  text-align: center; 
  padding: 3px 5px; 
  vertical-align: middle;
  margin-left: 2px;
}
.rose-circle-icon {  
  background-color: #f113ea; 
  color: white; 
  font-size: 10px;
  font-weight: bold; 
  align-items: center; 
  border-radius: 50%; 
  text-align: center; 
  padding: 2px 6px; 
  margin-left: 2px;
}